{% extends '_base.html' %} {% load socialaccount %}

{% block content %}

<div class="container" style="text-align: center; padding-top: 10%;">
  <h1>Django Social Login</h1>

  <br /><br />

  {% if user.is_authenticated %}
    <h3>Welcome {{ user.username }} !!!</h3>
    <br /><br />
    <a href="{% url 'account_logout' %}" class="btn btn-danger">Logout</a>
  {% else %}
    <a href="{% url 'account_login' %}" class="btn btn-secondary">Login</a>
    {% comment %}
    <!-- GitHub button starts here -->
    <a href="{% provider_login_url 'github' %}" class="btn btn-secondary">
      <i class="fa fa-github fa-fw"></i>
      <span>Login with GitHub</span>
    </a>
    {% endcomment%}
    <!-- GitHub button ends here -->
    <!-- Steam button starts here -->
    <a href="{% provider_login_url 'steam' %}" class="btn btn-secondary">
      <i class="fa fa-steam fa-fw"></i>
      <span>Login with Steam</span>
    </a>
    <!-- Steam button ends here -->
  {% endif %}
</div>

{% endblock content %}